@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h2>HTTP GET in Angular</h2>
</div>
<div class="row">
    <div class="col-md-4">
        <!-- Angular Code -->
        <my-app>Loading...</my-app>
        <!-- Angular Code -->
    </div>
</div>